.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content,
mat-card-footer {
    display: flex;
    justify-content: center;
}

mat-card {
    width: 300px;
    margin: auto;
}

mat-card-title {
    padding-bottom: 7%;
}

.error {
    color: red;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}