:host {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 70%;
    color: red;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}