<!-- toolbar -->
<mat-toolbar color="primary" class="sticky">
    <span>Estetica Fascino</span>
    <span class="spacer"></span>
</mat-toolbar>


<mat-sidenav-container>
    <!-- contenuto della sidenav -->
    <mat-sidenav #sidenav mode="side" color="primary" opened>
        <button mat-button class="bottone-sidenav" (click)="scroll(prenotazioni)">
            <mat-icon>event</mat-icon> Prenotazioni
        </button>

        <button mat-button class="bottone-sidenav" (click)="scroll(clienti)">
            <mat-icon>people</mat-icon> Clienti
        </button>

        <button mat-button class="bottone-sidenav" (click)="scroll(trattamenti)">
            <mat-icon>insert_emoticon</mat-icon> Trattamenti
        </button>

        <button mat-button class="bottone-sidenav" (click)="scroll(magazzino)">
            <mat-icon>inventory</mat-icon> Magazzino
        </button>

        <button mat-button class="bottone-sidenav" (click)="scroll(fornitori)">
            <mat-icon>contact_page</mat-icon> Fornitori
        </button>

        <mat-divider></mat-divider>
    </mat-sidenav>

    <!-- resto della pagina -->
    <mat-sidenav-content>
        <div id="mainDiv">
            <div #prenotazioni><app-pagina-prenotazioni></app-pagina-prenotazioni></div>
            <div #clienti class="pagina"><app-pagina-clienti></app-pagina-clienti></div>
            <div #trattamenti class="pagina"><app-pagina-trattamenti></app-pagina-trattamenti></div>
            <div #magazzino class="pagina"><app-pagina-magazzino></app-pagina-magazzino></div>
            <div #fornitori class="pagina"><app-pagina-fornitori></app-pagina-fornitori></div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
