.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card {
    margin: auto;
    min-width: 320px;
    max-width: 650px;
}

mat-card-footer,
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
    margin: auto;
}

mat-card-title {
    padding-bottom: 7%;
}

.error {
    color: red;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.preferenza {
    display: inline-block;
}
