.mat-form-field {
    width: 100%;
}

mat-card {
    margin: auto;
    min-width: 320px;
    max-width: 650px;
}

form {
    width: 100%;
}

h2,
mat-card-footer,
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center; 
}


mat-card-title {
    padding-bottom: 7%;
}

.error {
    color: red;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.preferenza {
    display: inline-block;
    justify-content: center;
}

.spacer {
    flex: 1 1 auto;
}

.prenota {
    margin-bottom: 30px;
}


.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

table {
    width: 100%;
}

.confermate {
    width: 100%;
    
}

.non_confermate {
    width: 100%;
}

.tabelle {
    width: 100%;
    display: inline-block;
    justify-content: center;
}